layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{mode}{tabs}"
                format_center ""
                format_right  "#[fg=#1a1b26,bg=NONE]#[fg=#3b4261,bg=#1a1b26]#[fg=#7aa2f7,bg=#3b4261,nobold]#[fg=#7aa2f7,bg=#7aa2f7,bold] {datetime}"
                format_space  "#[fg=NONE,bg=NONE]"

                hide_frame_for_single_pane "true"

                mode_normal        "#[fg=#1a1b26,bg=#7aa2f7,bold] {name} #[fg=#7aa2f7,bg=NONE]"
                mode_pane          "#[fg=#1a1b26,bg=#9ece6a,bold] {name} #[fg=#9ece6a,bg=NONE]"
                mode_tab           "#[fg=#1a1b26,bg=#bb9af7,bold] {name} #[fg=#bb9af7,bg=NONE]"
                mode_scroll        "#[fg=#1a1b26,bg=#f7768e,bold] {name} #[fg=#f7768e,bg=NONE]"
                mode_rename_tab    "#[fg=#1a1b26,bg=#f7768e,bold] {name} #[fg=#f7768e,bg=NONE]"
                mode_rename_pane   "#[fg=#1a1b26,bg=#f7768e,bold] {name} #[fg=#f7768e,bg=NONE]"
                mode_session       "#[fg=#1a1b26,bg=#9d7cd8,bold] {name} #[fg=#9d7cd8,bg=NONE]"
                mode_move          "#[fg=#1a1b26,bg=#e0af68,bold] {name} #[fg=#e0af68,bg=NONE]"
                mode_locked        "#[fg=#1a1b26,bg=#e0af68,bold] {name} #[fg=#e0af68,bg=NONE]"
                mode_enter_search  "#[fg=#1a1b26,bg=#e0af68,bold] {name} #[fg=#e0af68,bg=NONE]"
                mode_prompt        "#[fg=#1a1b26,bg=#e0af68,bold] {name} #[fg=#e0af68,bg=NONE]"

                tab_normal    "#[fg=#cdd6f4,bg=NONE] {index}  {name} "
                tab_active    "#[fg=#1a1b26,bg=NONE]#[fg=#1a1b26,bg=#24283b]#[fg=#c0caf5,bg=#1a1b26] {index} #[fg=#1a1b26,bg=#ff9e64]#[fg=#1a1b26,bg=#ff9e64] {name} #[fg=#ff9e64,bg=NONE]"

                datetime        "#[fg=#1a1b26,bg=#7aa2f7] {format} "
                datetime_format "%d %b %Y %H:%M"
                datetime_timezone "America/Mexico_City"
            }
        }
    }
}
